<div class="card">
    <div class="card-header card-header-warning">
        <h4 class="card-title">Task list</h4>
        <p class="card-category">Today is 27 August, 2023</p>
    </div>
    <div class="card-body table-responsive">
        <table class="table table-hover">
            <thead class="text-warning">
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Date</th>
                  <th scope="col">State</th>
              </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of tasks; let i = index;">
                <td>{{i + 1}}</td>
                <td>{{task.title}}</td>
                <td>{{task.category?.title}}</td>
                <td>{{task.priority?.title}}</td>
                <td>{{ task.date?.toDateString() | date: 'short' : 'ru' }}
                <td>{{task.completed.valueOf()}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
